In [1]:
import pandas as pd

In [12]:
cf=pd.read_csv(r"C:\Users\TRISHA ROY\Downloads\USA_cars_datasets.csv")

In [14]:
cf

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [7]:
l=[]
for i in cf['brand'].unique():
    s=0
    for j in cf.values:
        if(j[2]==i):
            s=s+1
    l.append([s,i])
print(max(l))

[1235, 'ford']

In [21]:
cf['brand'].unique()

array(['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac',
       'hyundai', 'mazda', 'honda', 'heartland', 'jaguar', 'acura',
       'harley-davidson', 'audi', 'lincoln', 'lexus', 'nissan', 'land',
       'maserati', 'peterbilt', 'ram'], dtype=object)

In [22]:
cf.values

array([[0, 6300, 'toyota', ..., 'new jersey', ' usa', '10 days left'],
       [1, 2899, 'ford', ..., 'tennessee', ' usa', '6 days left'],
       [2, 5350, 'dodge', ..., 'georgia', ' usa', '2 days left'],
       ...,
       [2496, 9200, 'nissan', ..., 'florida', ' usa', '21 hours left'],
       [2497, 9200, 'nissan', ..., 'florida', ' usa', '2 days left'],
       [2498, 9200, 'nissan', ..., 'florida', ' usa', '21 hours left']],
      dtype=object)

In [15]:
c=0
s=0
for i in cf.values:
    if(i[4]==2018):
        c=c+1
        s=s+i[1]
print("average is:",s/c)

average is: 19058.339240506328

In [9]:
l=[]
for j in cf['brand'].unique():
    c=0
    s=0
    for i in cf.values:
        if(i[2]==j):
            c=c+1
            s=s+i[1]
    l.append([s/c,j])
print(max(l))

[54680.0, 'harley-davidson']

In [8]:
l=[]
for j in cf['state'].unique():
    c=0
    s=0
    for i in cf.values:
        if(i[10]==j):
            c=c+1
            s=s+i[1]
    l.append([s/c,j])
print(max(l))

[44969.444444444445, 'kentucky']